{# Utilisation du modèle de page "base.html.twig" #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Modification de la photo de profil{% endblock %}

{# contenu de la page #}
{% block body %}

    <div class="container-fluid">

        {# Titre h1 #}
        <div class="row">
            <h1 class="col-12 text-center my-5">Modification de la photo de profil</h1>
        </div>

        {# Formulaire de changement de photo de profil #}
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 bg-dark p-3">
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3 change-photo-form">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}