{#  Utilisation du modèle de page "base.html.twig" #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Hello MainController!{% endblock %}


{# Contenu de  la page #}
{% block body %}
    <div class="container-fluid">


        <div class="row">

            <h1 class="col-12 text-center my-5">Le Blog de Batman</h1>

        </div>


    </div>

{% endblock %}
