/* Toute la page*/

body{
    background-color: #1A1D45;
    color: #F5F7F9;
    font-family: "Roboto", sans-serif;
}

/*Navbar principale */
.main-navbar{
    background-color: black !important;
}

.main-navbar .main-navbar-logo{
    width: 55px;
    margin-right: 16px;
}

/* Classes génériques */
.bg-black{
    background-color: black;
}

.article-card a{
    text-decoration :none;
}

/* Menus de pagination*/
.pagination .page-item .page-link{
    background-color: black;
    color: #F5F7F9;
}

.pagination .page-itel.disabled{
    cursor: not-allowed;
 }

 .pagination .page-item .page-link, .pagination .page-item.active .page-link{
     color: grey;
 }

 .pagination .page-item a.page-link:hover{
     background-color: #292929;
 }

 /*Image de profil*/
.comment-profil-photo{
    width: 84px;
    height: 84px;
}

 .admin-button-article{
     position:absolute;
     top:14px;
     right:0;
     width: auto;
 }